
.box-add{
    
    /*background-color: #4267b2;*/
    padding-top: 10px;
    padding-bottom: 15px;
    font-family:CLAN PRO THIN;
}
.classrow{

    -webkit-box-shadow:1px 1px 1px 1px #4267b2;   
}
.divhead{
    padding-top: 15px;
}
.divhead span{
    color: #056020;
    font-size: 25px;
    font-family:Clarendon Blk BT;
    text-align: center;
}
.divhead h3{
    color: #4267b2;
    font-size: 20px;
    font-family:Clan Pro Medium
}
/*-----------------------*****----------------*/
.entornodiv{
    width: 100%;
    height: 100%;
    border-color: #4267b2;
    border-left-color: transparent;
    border-bottom: transparent;
    border-top-color: transparent;
    border-width: 1px;
    border-style: solid;
    background-color: #ebedea
}
.imgpequeño img:hover {
    -webkit-transform:scale(1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 2000ms;
    transform:scale(1.1);

}
.imgpequeño {overflow:hidden;}

.imgpequeño img{
    max-width: 80%;
    max-height: 60%;
    border: 0px solid #581414;
    /*border-radius: 25px;  */
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    
}

.imgpequeño img{
    padding-bottom: 20%;
}

@media screen and (max-width: 500px){
    .imgpequeño img{
        width: 40%;
        height: 40%;
        vertical-align: top;
        padding-bottom: 5%;

    }
}
@media screen and (max-width: 900px){
    .imgpequeño img{
        width: 80%;
        height: 90%;
        text-align: center;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 4%;
    }
}
@media screen and (max-width: 999px){
    .imgpequeño img{
        width: 80%;
        height: 90%;
        text-align: center;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 4%;
    }
}
@media screen and (max-width: 768px){
    .imgpequeño img{
        width: 20%;
        height: 30%;
        text-align: center;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 3px;
        padding-bottom: 1%;
        border-radius: 15px
    }
}
@media screen and (max-width: 500px){
    .imgpequeño img{
        width: 40%;
        height: 50%;
        text-align: center;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 3px;
        padding-bottom: 1%;
    }
}
/*------------------------imgcentro----------------*/
.imgestilo{
    padding-top: 20px;
    display: flex;
    /*margin-left: 25px;*/
    justify-content: center;
    align-items: center;    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.imgestilo figure {

    overflow: hidden;
    border-radius: 7px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
}
.imgestilo figure img{
    
    transition: all 500ms ease-out;
    width: 550px;
    height: 480px;
}
.imgestilo figure img:hover{
    
    transform: scale(1.2);   
}

@media screen and (max-width: 999px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 520px !important;
        height: 450px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }

}
/*--------------*/
@media screen and (max-width: 993px){

    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 550px !important;
        height: 450px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
/*-------------*/


@media screen and (max-width: 768px){

    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 500px !important;
        height: 400px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 520px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 480px !important;
        height: 400px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 493px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 430px !important;
        height: 39  0px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 453px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 390px !important;
        height: 350px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 400px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 360px !important;
        height: 330px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 370px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 330px !important;
        height: 300px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
/*-----------------------------------------------------------------------------------------------*/

.imgestilo{
    padding-top: 20px;
    display: flex;
    /*margin-left: 25px;*/
    justify-content: center;
    align-items: center;    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.imgestilo figure {

    overflow: hidden;
    border-radius: 7px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
}
.imgestilo figure img{
    
    transition: all 500ms ease-out;
    width: 550px;
    height: 480px;
}
.imgestilo figure img:hover{
    
    transform: scale(1.2);   
}

/*---------------------------------------------*/
.formulario__input, .formulario__label {
    display: block;
    width: 80%;
    font-size: 1,3em;
    
}
.formulario__input {
    padding: 5px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 15px;
    border-radius: 10px;
    
}
.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
    outline: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}