
.classrow{
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-shadow: 1px 1px 1px 1px #008000; 
}
.divhead{
    padding-top: 15px;
}
.divhead span{
    color: #056020;
    font-size: 25px;
    font-family:Clarendon Blk BT;
    text-align: center;
}
.divhead h3{
    color: #4267b2;
    font-size: 20px;
    font-family:Clan Pro Medium
}
/*-----------------------*****----------------*/
.entornodiv{
    width: 100%;
    height: 100%;
    /*border-color: #4267b2;
    border-left-color: transparent;
    border-bottom: transparent;
    border-top-color: transparent;
    border-width: 1px;
    border-style: solid;
    background-color: #ebedea*/
}
.imgpequeño img:hover {
    -webkit-transform:scale(1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 2000ms;
    transform:scale(1.1);

}
.imgpequeño {
    overflow:hidden;
    padding-top: 25px;
    padding-bottom: 5px;
}

.imgpequeño img{
    max-width: 70%;
    max-height: 70%;
    border: 0px solid #581414;
    margin-bottom: 6px; 
}
.formulario{
    background: #f9f9f9;
    padding: 15px;
    border-radius: 16px;
    margin-top: 50px;
}
@media screen and (max-width: 960px){
    .formulario {
        background: #f9f9f9;
        padding: 15px;
        border-radius: 16px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 767px){
    .imgpequeño{
        display: flex;
        align-items: center;
        background-color: #31d67714;
    }
    .imgpequeño img{
        max-width: 19%;
        max-height: 50%;
        border: 0px solid #581414;
        margin-bottom: 1px;
        margin-left: 12px;
        margin-right: 0px;
    }

    .imgpequeño center{
        display: flex;
    }
    .formulario {
        background: #f9f9f9;
        padding: 15px;
        border-radius: 16px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 500px){
    .imgpequeño{
        display: flex;
        align-items: center;
        background-color: #31d67714;
    }
    .imgpequeño img{
        max-width: 19%;
        max-height: 50%;
        border: 0px solid #581414;
        margin-bottom: 1px;
        margin-left: 12px;
        margin-right: 0px;
    }

    .imgpequeño center{
        display: flex;
    }
    .formulario {
        background: #f9f9f9;
        padding: 15px;
        border-radius: 16px;
        margin-top: 10px;
    }
}
/*------------------------imgcentro----------------*/
.imgestilo{
    padding-top: 20px;
    display: flex;
    /*margin-left: 25px;*/
    justify-content: center;
    align-items: center;    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.imgestilo figure {

    overflow: hidden;
    border-radius: 7px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
}
.imgestilo figure img{
    
    transition: all 500ms ease-out;
    width: 550px;
    height: 480px;
}
.imgestilo figure img:hover{
    
    transform: scale(1.2);   
}

@media screen and (max-width: 999px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 520px !important;
        height: 450px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }

}
/*--------------*/
@media screen and (max-width: 993px){

    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 550px !important;
        height: 450px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
/*-------------*/


@media screen and (max-width: 768px){

    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 500px !important;
        height: 400px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 520px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 480px !important;
        height: 400px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 493px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 430px !important;
        height: 39  0px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 453px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 390px !important;
        height: 350px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 400px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 360px !important;
        height: 330px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
@media screen and (max-width: 370px){
    .imgestilo{
        padding-top: 13px !important;
        display: flex;
        /*margin-left: 25px;*/
        justify-content: center;
        align-items: center;    
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .imgestilo figure {

        overflow: hidden;
        border-radius: 7px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    }
    .imgestilo figure img{
        
        transition: all 500ms ease-out;
        width: 330px !important;
        height: 300px !important;
    }
    .imgestilo figure img:hover{
        
        transform: scale(1.2);   
    }
}
/*-----------------------------------------------------------------------------------------------*/

.imgestilo{
    padding-top: 20px;
    display: flex;
    /*margin-left: 25px;*/
    justify-content: center;
    align-items: center;    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.imgestilo figure {

    overflow: hidden;
    border-radius: 7px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
}
.imgestilo figure img{
    
    transition: all 500ms ease-out;
    width: 550px;
    height: 480px;
}
.imgestilo figure img:hover{
    
    transform: scale(1.2);   
}

/*---------------------------------------------*/
.formulario__input, .formulario__label {
    display: block;
    width: 80%;
    font-size: 1,3em;
    
}
.formulario__input {
    padding: 5px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 15px;
    border-radius: 10px;
    
}
.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
    outline: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}